<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ServerName" connectionString="DANIEL-LAPTOP\SQLEXPRESS"/>
    <!--<add name="ServerSql" connectionString="Data Source=91.188.125.108;Initial Catalog=profeto.dev; User ID=as;Password=Qaz123!; MultipleActiveResultSets=True" />-->
    <add name="ServerSql" connectionString="Data Source=DANIEL-LAPTOP\\SQLEXPRESS;Initial Catalog=MagazynAppDbDev;Integrated Security=True;" />
  </connectionStrings>
  <appSettings>
    <add key="ConfigFile" value="E:\git_projects\BackupManager\BackupManager\bin\Debug\daneConf.xml" />
    <add key="SqlWinAuth" value="false" />
    <add key="SqlLogin" value="as" />
    <add key="SqlPass" value="Qaz123!" />
    <add key="FtpAddress" value="91.188.125.108" />
    <add key="FtpPort" value="21" />
    <add key="FtpLogin" value="tukano_ftpuser" />
    <add key="FtpPass" value="#s60107DfJysu2f7^#" />
    <!--<add key="FtpClientIp" value="backup.sprintdatacenter.pl"/>
    <add key="LoginFtp" value="bkp-effectivedm-1"/>
    <add key="PassFtp" value="uM&amp;ESs5xdY"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>